USE [master]
GO
/****** Object:  Database [UpSkill_EscolaDelite]    Script Date: 30/01/2026 12:41:32 ******/
CREATE DATABASE [UpSkill_EscolaDelite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UpSkill_EscolaDelite', FILENAME = N'E:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpSkill_EscolaDelite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UpSkill_EscolaDelite_log', FILENAME = N'E:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpSkill_EscolaDelite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UpSkill_EscolaDelite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UpSkill_EscolaDelite]
GO
/****** Object:  Table [dbo].[AnoLetivo]    Script Date: 30/01/2026 12:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnoLetivo](
	[AnoLetivoID] [bigint] IDENTITY(1,1) NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_AnoLetivo] PRIMARY KEY CLUSTERED 
(
	[AnoLetivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Unique_DataInicio]    Script Date: 30/01/2026 12:41:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_DataInicio] ON [dbo].[AnoLetivo]
(
	[DataInicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo]    Script Date: 30/01/2026 12:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetUpAnoLetivo] 
	-- Add the parameters for the stored procedure here
	@Year INT,
	@AnoLetivoID BIGINT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	SELECT @AnoLetivoID = AnoLetivoID
    FROM AnoLetivo
    WHERE YEAR(DataInicio) = @Year;

	IF (@AnoLetivoID IS NULL)
	BEGIN
	INSERT INTO AnoLetivo (DataInicio, DataFim, Ativo)
        VALUES (
            DATEFROMPARTS(@Year, 1, 1),
            DATEFROMPARTS(@Year, 12, 31),
            1
        );
		SET @AnoLetivoID = SCOPE_IDENTITY();
	END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Garante que a Data de Inicio é unica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AnoLetivo', @level2type=N'INDEX',@level2name=N'Unique_DataInicio'
GO
USE [master]
GO
