USE [master]
GO
/****** Object:  Database [UpSkill_EscolaDelite]    Script Date: 30/01/2026 18:51:40 ******/
CREATE DATABASE [UpSkill_EscolaDelite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UpSkill_EscolaDelite', FILENAME = N'E:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpSkill_EscolaDelite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UpSkill_EscolaDelite_log', FILENAME = N'E:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpSkill_EscolaDelite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UpSkill_EscolaDelite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UpSkill_EscolaDelite]
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[AlunoID] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaID] [bigint] NOT NULL,
	[DataRegisto] [datetime] NOT NULL,
	[DataTransferencia] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Alunos] PRIMARY KEY CLUSTERED 
(
	[AlunoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnoLetivo]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnoLetivo](
	[AnoLetivoID] [bigint] IDENTITY(1,1) NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_AnoLetivo] PRIMARY KEY CLUSTERED 
(
	[AnoLetivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[ContactoID] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaID] [bigint] NOT NULL,
	[Tipo] [smallint] NOT NULL,
	[Valor] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Contactos] PRIMARY KEY CLUSTERED 
(
	[ContactoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[CursoID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Duracao] [smallint] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[CursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[PessoaID] [bigint] IDENTITY(1,1) NOT NULL,
	[NIF] [nchar](9) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[DOB] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[PessoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professores]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professores](
	[ProfessorID] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaID] [bigint] NOT NULL,
	[DataContratacao] [datetime] NOT NULL,
	[DataCessacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Professores] PRIMARY KEY CLUSTERED 
(
	[ProfessorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relacoes]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relacoes](
	[PessoaAID] [bigint] NOT NULL,
	[PessoaBID] [bigint] NOT NULL,
	[Tipo] [smallint] NOT NULL,
 CONSTRAINT [PK_Relacoes] PRIMARY KEY CLUSTERED 
(
	[PessoaAID] ASC,
	[PessoaBID] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposdeContactos]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposdeContactos](
	[TipoID] [smallint] NOT NULL,
	[NomeDoContacto] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposdeContactos] PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposRelacao]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposRelacao](
	[RelacaoID] [smallint] IDENTITY(1,1) NOT NULL,
	[RelacaoNome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoRelacao] PRIMARY KEY CLUSTERED 
(
	[RelacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turmas]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turmas](
	[TurmaID] [bigint] IDENTITY(1,1) NOT NULL,
	[AnoLetivoID] [bigint] NOT NULL,
	[CursoID] [bigint] NOT NULL,
	[AnoDoCurso] [smallint] NOT NULL,
 CONSTRAINT [PK_Turmas] PRIMARY KEY CLUSTERED 
(
	[TurmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnoLetivo] ON 

INSERT [dbo].[AnoLetivo] ([AnoLetivoID], [DataInicio], [DataFim], [Ativo]) VALUES (1, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-12-31T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[AnoLetivo] ([AnoLetivoID], [DataInicio], [DataFim], [Ativo]) VALUES (2, CAST(N'2001-01-01T00:00:00.000' AS DateTime), CAST(N'2001-12-31T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[AnoLetivo] OFF
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

INSERT [dbo].[Cursos] ([CursoID], [Nome], [Duracao], [Ativo]) VALUES (1, N'Programação em C', 3, 1)
INSERT [dbo].[Cursos] ([CursoID], [Nome], [Duracao], [Ativo]) VALUES (2, N'Programação em C++', 3, 1)
INSERT [dbo].[Cursos] ([CursoID], [Nome], [Duracao], [Ativo]) VALUES (3, N'Programação em Java', 3, 1)
SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
/****** Object:  Index [Unique_DataInicio]    Script Date: 30/01/2026 18:51:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_DataInicio] ON [dbo].[AnoLetivo]
(
	[DataInicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Nome_Curso]    Script Date: 30/01/2026 18:51:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Nome_Curso] ON [dbo].[Cursos]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Pessoas_NIF]    Script Date: 30/01/2026 18:51:41 ******/
ALTER TABLE [dbo].[Pessoas] ADD  CONSTRAINT [Pessoas_NIF] UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Relacao_Nome]    Script Date: 30/01/2026 18:51:41 ******/
CREATE NONCLUSTERED INDEX [Relacao_Nome] ON [dbo].[TiposRelacao]
(
	[RelacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alunos]  WITH CHECK ADD  CONSTRAINT [FK_Alunos_Pessoas] FOREIGN KEY([PessoaID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Alunos] CHECK CONSTRAINT [FK_Alunos_Pessoas]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [FK_Contactos_Pessoas] FOREIGN KEY([PessoaID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [FK_Contactos_Pessoas]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [FK_Contactos_TiposdeContactos] FOREIGN KEY([Tipo])
REFERENCES [dbo].[TiposdeContactos] ([TipoID])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [FK_Contactos_TiposdeContactos]
GO
ALTER TABLE [dbo].[Professores]  WITH CHECK ADD  CONSTRAINT [FK_Professores_Pessoas] FOREIGN KEY([PessoaID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Professores] CHECK CONSTRAINT [FK_Professores_Pessoas]
GO
ALTER TABLE [dbo].[Relacoes]  WITH CHECK ADD  CONSTRAINT [FK_Relacoes_Pessoas] FOREIGN KEY([PessoaAID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Relacoes] CHECK CONSTRAINT [FK_Relacoes_Pessoas]
GO
ALTER TABLE [dbo].[Relacoes]  WITH CHECK ADD  CONSTRAINT [FK_Relacoes_Pessoas1] FOREIGN KEY([PessoaBID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Relacoes] CHECK CONSTRAINT [FK_Relacoes_Pessoas1]
GO
ALTER TABLE [dbo].[Relacoes]  WITH CHECK ADD  CONSTRAINT [FK_Relacoes_TiposRelacao] FOREIGN KEY([Tipo])
REFERENCES [dbo].[TiposRelacao] ([RelacaoID])
GO
ALTER TABLE [dbo].[Relacoes] CHECK CONSTRAINT [FK_Relacoes_TiposRelacao]
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraCursos]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraCursos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	    -- Guard clause: sample data already present
    IF EXISTS (
        SELECT 1
        FROM Cursos
        WHERE Nome IN (
            'Programação em C',
            'Programação em C++',
            'Programação em Java',
            'Desenvolvimento Web',
            'Engenharia de Software',
            'Bases de Dados',
            'Redes de Computadores',
            'Sistemas Operativos',
            'Cibersegurança',
            'Inteligência Artificial'
        )
    )
    BEGIN
        PRINT 'Cursos de Amostra já existem. Nenhum será inserido.';
        RETURN;
    END;
    -- Insert statements for procedure here
	INSERT INTO Cursos (Nome,Duracao, Ativo)
	VALUES 
    ('Programação em C', 3, 1),
    ('Programação em C++', 3, 1),
    ('Programação em Java', 3, 1),
    ('Desenvolvimento Web', 2, 1),
    ('Engenharia de Software', 3, 1),
    ('Bases de Dados', 2, 1),
    ('Redes de Computadores', 2, 1),
    ('Sistemas Operativos', 2, 1),
    ('Cibersegurança', 3, 1),
    ('Inteligência Artificial', 3, 1);

END
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetUpAnoLetivo] 
	-- Add the parameters for the stored procedure here
	@Year INT,
	@AnoLetivoID BIGINT = NULL OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	SELECT @AnoLetivoID = AnoLetivoID
    FROM AnoLetivo
    WHERE YEAR(DataInicio) = @Year;

	IF (@AnoLetivoID IS NULL)
	BEGIN
	INSERT INTO AnoLetivo (DataInicio, DataFim, Ativo)
        VALUES (
            DATEFROMPARTS(@Year, 1, 1),
            DATEFROMPARTS(@Year, 12, 31),
            1
        );
		SET @AnoLetivoID = SCOPE_IDENTITY();
		PRINT 'Ano ' +  CAST(@Year AS NVARCHAR(10)) + ' Criado!'
	END
	ELSE
		PRINT 'Ano ' +  CAST(@Year AS NVARCHAR(10)) + ' já existe!'
END
GO
/****** Object:  StoredProcedure [dbo].[UnsetAnoLetivo]    Script Date: 30/01/2026 18:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UnsetAnoLetivo]
	-- Add the parameters for the stored procedure here
	@Year INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @AnoLetivoAnteriorID BIGINT = NULL
	DECLARE @AnoLetivoAnteriorAtivo BIT
	SELECT @AnoLetivoAnteriorID =  AnoLetivo.AnoLetivoID,
	@AnoLetivoAnteriorAtivo = AnoLetivo.Ativo	
	FROM AnoLetivo 
	WHERE YEAR(DataInicio) = (@Year - 1)
	BEGIN
	IF @AnoLetivoAnteriorID IS NOT NULL
	BEGIN
		IF @AnoLetivoAnteriorAtivo = 0
		BEGIN
			PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') já se encontra desativado.'
			END
		ELSE
		BEGIN
			-- TODO: Se o ano anterior tiver alunos com notas por lançar não desativa o ano
			UPDATE AnoLetivo SET Ativo = 0 
			WHERE AnoLetivoID = @AnoLetivoAnteriorID
			PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') desativado.'
			END
			END
	ELSE
	BEGIN
	 PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') não existe.'
	 END
	 END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Garante que a Data de Inicio é unica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AnoLetivo', @level2type=N'INDEX',@level2name=N'Unique_DataInicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Assegura que não existem cursos com o mesmo nome.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cursos', @level2type=N'INDEX',@level2name=N'Nome_Curso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Assegura que o nome de relação é unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TiposRelacao', @level2type=N'INDEX',@level2name=N'Relacao_Nome'
GO
USE [master]
GO
