USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[SetUpPassingStudents]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[SetUpPassingStudents]
    @AnoLetivoAnteriorID BIGINT,
    @AnoLetivoNovoID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

	
    ------------------------------------------------------------------
    -- 1. Capture Passing students
    ------------------------------------------------------------------
	 DECLARE @Aprovados TABLE (
		AlunoID BIGINT,
		CursoID BIGINT,
		AnoDoCurso INT
		);

	INSERT INTO @Aprovados (AlunoID, CursoID, AnoDoCurso)
	SELECT DISTINCT
		AlunosdaTurma.AlunoID,
		Turmas.CursoID,
		Turmas.AnoDoCurso + 1 AS AnoDoCurso
	FROM AlunosdaTurma 
	JOIN Turmas
		ON Turmas.TurmaID = AlunosdaTurma.TurmaID
	JOIN Cursos
		ON Cursos.CursoID = Turmas.CursoID
	WHERE Turmas.AnoLetivoID = @AnoLetivoAnteriorID
	  AND AlunosdaTurma.NotaFinal >= 10
	  AND Turmas.AnoDoCurso + 1 <= Cursos.Duracao;


    ------------------------------------------------------------------
    -- 2. Create missing Turmas for Aproved
    ------------------------------------------------------------------
    INSERT INTO Turmas (CursoID, AnoDoCurso, AnoLetivoID)
    SELECT DISTINCT
        A.CursoID,
        A.AnoDoCurso, 
        @AnoLetivoNovoID
    FROM @Aprovados A
    WHERE NOT EXISTS (
        SELECT 1
        FROM Turmas 
        WHERE Turmas.CursoID = A.CursoID
          AND Turmas.AnoDoCurso = A.AnoDoCurso 
          AND Turmas.AnoLetivoID = @AnoLetivoNovoID
    );

    ------------------------------------------------------------------
    -- 3. Insert students into the correct Turma
    ------------------------------------------------------------------
    INSERT INTO AlunosdaTurma (TurmaID, AlunoID)
    SELECT
        Turmas.TurmaID,
        A.AlunoID
    FROM @Aprovados A
    JOIN Turmas ON Turmas.CursoID = A.CursoID
                 AND Turmas.AnoDoCurso = A.AnoDoCurso 
                 AND Turmas.AnoLetivoID = @AnoLetivoNovoID
    WHERE NOT EXISTS (
        SELECT 1
        FROM AlunosdaTurma 
        WHERE AlunosdaTurma.TurmaID = Turmas.TurmaID
          AND AlunosdaTurma.AlunoID = A.AlunoID
    );
END;
GO
