USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo_Turmas]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetUpAnoLetivo_Turmas]
    @AnoLetivoID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM AnoLetivo
        WHERE AnoLetivoID = @AnoLetivoID
    )
    BEGIN
        PRINT 'Ano Letivo com ID: ' + CAST (@AnoLetivoID AS NVARCHAR(MAX)) + 'não encontrado.'
        RETURN;
    END;

    INSERT INTO Turmas (AnoLetivoID, CursoID, AnoDoCurso)
    SELECT
        @AnoLetivoID,
        Cursos.CursoID,
        1 AS AnoDoCurso
    FROM Cursos
    WHERE Cursos.Ativo = 1
      AND NOT EXISTS (
          SELECT 1
          FROM Turmas 
          WHERE Turmas.AnoLetivoID = @AnoLetivoID
            AND Turmas.CursoID = Cursos.CursoID
            AND Turmas.AnoDoCurso = 1
      );
END;
GO
