USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[ObterQuadrodeHonra]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterQuadrodeHonra]
	-- Add the parameters for the stored procedure here
	@Year INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Alunos.AlunoID, Pessoas.FirstName, Pessoas.LastName, AlunosdaTurma.NotaFinal
	FROM AlunosdaTurma
	INNER JOIN Turmas		ON Turmas.TurmaID = AlunosdaTurma.TurmaID
	INNER JOIN AnoLetivo	ON AnoLetivo.AnoLetivoID = Turmas.AnoLetivoID
	INNER JOIN Alunos		ON Alunos.AlunoID = AlunosdaTurma.AlunoID
	INNER JOIN Pessoas		ON Alunos.PessoaID = Pessoas.PessoaID
	WHERE YEAR(AnoLetivo.DataInicio) = @Year 
	AND AlunosdaTurma.NotaFinal >= 18;
END
GO
