USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[ObterAlunosPorAnoECurso]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterAlunosPorAnoECurso]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	YEAR(AnoLetivo.DataInicio) AS Ano, Cursos.Nome, Count(*) AS [Numero de Alunos]
	FROM AnoLetivo
	INNER JOIN Turmas ON Turmas.AnoLetivoID = AnoLetivo.AnoLetivoID
	INNER JOIN Cursos ON Turmas.CursoID = Cursos.CursoID
	INNER JOIN AlunosdaTurma ON Turmas.TurmaID = AlunosdaTurma.TurmaID
	
	GROUP BY  AnoLetivo.AnoLetivoID, AnoLetivo.DataInicio, Cursos.Nome
	ORDER BY AnoLetivo.AnoLetivoID
END
GO
