USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[CessarFuncoesProfessor]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CessarFuncoesProfessor]
	-- Add the parameters for the stored procedure here
	@ProfessorID BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF ((SELECT Ativo FROM Professores WHERE ProfessorID = @ProfessorID) = 0)
	BEGIN
	PRINT 'O Professor com ID ' + CAST(@ProfessorID AS NVARCHAR (MAX)) + ' já se encontra inativo.'
	RETURN 
	END
	UPDATE Professores
	SET DataCessacao = GETDATE(), Ativo = 0
	WHERE ProfessorID = @ProfessorID
	PRINT 'O Professor com ID ' + CAST(@ProfessorID AS NVARCHAR (MAX)) + ' foi marcado inativo.'
END
GO
