USE [UpSkill_EscolaDelite]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
===============================================================================
Procedure:   Aluno_Inserir
Author:      João Luizi
Created:     2026-02-02

AI Assistance:
- Tool: ChatGPT
- Approx. contribution: ~20%
- Role: Syntax verification, refactoring suggestions, documentation support

Description:
- Creates a new Aluno entity
- Internally inserts or retrieves Pessoa via Pessoa_Inserir
- Registers the student as active

Execution:
- Can be executed standalone
- Entry point for student creation workflow

Notes:
- Assumes Pessoa uniqueness by NIF
- Pessoa insertion logic is delegated to Pessoa_Inserir
- Designed to be safely called by UI or external services
===============================================================================
*/
CREATE PROCEDURE [dbo].[Aluno_Inserir]

	@NIF NCHAR(9),
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@MiddleName NVARCHAR(100) = NULL,
	@DOB DATETIME
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @PessoaID BIGINT
    
	EXEC dbo.AddPessoa
        @NIF = @NIF,
        @FirstName = @FirstName,
        @LastName = @LastName,
        @MiddleName = @MiddleName,
        @DOB = @DOB,
        @PessoaID = @PessoaID OUTPUT; 

	INSERT INTO Alunos
	(
		PessoaID,
		DataRegisto,
		Ativo
	)
	VALUES
	(
	@PessoaID,
	GETDATE(),
	1
	)
	PRINT 'Estudante Adicionado'
END

GO
