USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[SetUpFailedStudents]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SetUpFailedStudents]
    @AnoLetivoAnteriorID BIGINT,
    @AnoLetivoNovoID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------------
    -- 1. Capture failed students
    ------------------------------------------------------------------
    DECLARE @Reprovados TABLE (
        AlunoID BIGINT,
        CursoID BIGINT,
        AnoDoCurso INT
    );

    INSERT INTO @Reprovados (AlunoID, CursoID, AnoDoCurso)
    SELECT DISTINCT
        AlunosdaTurma.AlunoID,
        Turmas.CursoID,
        Turmas.AnoDoCurso
    FROM AlunosdaTurma
    JOIN Turmas ON Turmas.TurmaID = AlunosdaTurma.TurmaID
    WHERE Turmas.AnoLetivoID = @AnoLetivoAnteriorID
      AND AlunosdaTurma.NotaFinal < 10;

    ------------------------------------------------------------------
    -- 2. Create missing Turmas for repeaters
    ------------------------------------------------------------------
    INSERT INTO Turmas (CursoID, AnoDoCurso, AnoLetivoID)
    SELECT DISTINCT
        R.CursoID,
        R.AnoDoCurso,
        @AnoLetivoNovoID
    FROM @Reprovados R
    WHERE NOT EXISTS (
        SELECT 1
        FROM Turmas 
        WHERE Turmas.CursoID = R.CursoID
          AND Turmas.AnoDoCurso = R.AnoDoCurso
          AND Turmas.AnoLetivoID = @AnoLetivoNovoID
    );

    ------------------------------------------------------------------
    -- 3. Insert students into the correct Turma
    ------------------------------------------------------------------
    INSERT INTO AlunosdaTurma (TurmaID, AlunoID)
    SELECT
        Turmas.TurmaID,
        R.AlunoID
    FROM @Reprovados R
    JOIN Turmas ON Turmas.CursoID = R.CursoID
                 AND Turmas.AnoDoCurso = R.AnoDoCurso
                 AND Turmas.AnoLetivoID = @AnoLetivoNovoID
    WHERE NOT EXISTS (
        SELECT 1
        FROM AlunosdaTurma 
        WHERE AlunosdaTurma.TurmaID = Turmas.TurmaID
          AND AlunosdaTurma.AlunoID = R.AlunoID
    );
END;
GO
