USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[ObterAprovacoesReprovacoes]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterAprovacoesReprovacoes]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	Year(AnoLetivo.DataInicio) AS Ano,
	SUM(CASE WHEN NotaFinal >= 10 THEN 1 ELSE 0 END) AS Aprovados,
	SUM(CASE WHEN NotaFinal < 10 THEN 1 ELSE 0 END) AS Reprovados
	FROM AlunosdaTurma
	INNER JOIN Turmas ON AlunosdaTurma.TurmaID = Turmas.TurmaID
	INNER JOIN AnoLetivo ON AnoLetivo.AnoLetivoID = Turmas.AnoLetivoID
	GROUP BY Year(AnoLetivo.DataInicio)
END
GO
