USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[AddProfessorATurma]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddProfessorATurma]
	-- Add the parameters for the stored procedure here
	@TurmaID BIGINT,
	@ProfessorID BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT 1 FROM ProfessoresdaTurma WHERE ProfessoresdaTurma.ProfessorID = @ProfessorID AND ProfessoresdaTurma.TurmaID = @TurmaID)
	BEGIN
	PRINT 'Este Professor já está adicionado à turma'
	RETURN
	END
	INSERT INTO ProfessoresdaTurma (ProfessorID, TurmaID)
	VALUES (@ProfessorID, @TurmaID)

END
GO
