USE [UpSkill_EscolaDelite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
===============================================================================
Procedure:   Pessoa_Inserir
Author:      João Luizi
Created:     2026-02-02

AI Assistance:
- Tool: ChatGPT
- Approx. contribution: ~20%
- Role: Syntax verification, refactoring suggestions, documentation support

Description:
- Inserts a new record into Pessoas if the NIF does not already exist
- Returns the PessoaID via OUTPUT parameter
- Can be executed standalone, but SHOULD NOT be used in isolation

Execution:
- Used by: Professor_Inserir, Aluno_Inserir
- Role: Base procedure in entity creation chain

Notes:
- Ensures uniqueness of Pessoa by NIF
- Does not manage transactions (handled by parent procedures)
===============================================================================
*/
CREATE OR ALTER PROCEDURE [dbo].[Pessoa_Inserir] 
	@NIF NCHAR(9),
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@MiddleName NVARCHAR(100) = NULL,
	@DOB DATETIME,
	@PessoaID BIGINT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT @PessoaID = PessoaID
    FROM Pessoas
    WHERE NIF = @NIF;

	IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO Pessoas (
            NIF,
            FirstName,
            LastName,
            MiddleName,
            DOB,
            LastUpdate
        )
        VALUES (
            @NIF,
            @FirstName,
            @LastName,
            @MiddleName,
            @DOB,
            GETDATE()
        );
        SET @PessoaID = SCOPE_IDENTITY();
        PRINT 'Nova Pessoa Adicionada'
    END
    ELSE
    PRINT 'Pessoa já registada'
END
GO
