USE [UpSkill_EscolaDelite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
===============================================================================
Procedure:   Professor_Inserir
Author:      João Luizi
Created:     2026-02-02

AI Assistance:
- Tool: ChatGPT
- Approx. contribution: ~20%
- Role: Syntax verification, refactoring suggestions, documentation support

Description:
- Creates a new Professor entity
- Internally inserts or retrieves Pessoa via Pessoa_Inserir
- Registers the professor as active

Execution:
- Can be executed standalone
- Entry point for professor creation workflow

Notes:
- Assumes Pessoa uniqueness by NIF
- Pessoa insertion logic is delegated to Pessoa_Inserir
- Intended for direct use by administrative processes
===============================================================================
*/
CREATE PROCEDURE [dbo].[Professor_Inserir]
	@NIF NCHAR(9),
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@MiddleName NVARCHAR(100),
	@DOB DATETIME
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @PessoaID BIGINT
	EXEC dbo.AddPessoa
        @NIF = @NIF,
        @FirstName = @FirstName,
        @LastName = @LastName,
        @MiddleName = @MiddleName,
        @DOB = @DOB,
        @PessoaID = @PessoaID OUTPUT;

	INSERT INTO Professores
	(
		PessoaID,
		DataContratacao,
		Ativo
	)
	VALUES
	(
	@PessoaID,
	GETDATE(),
	1
	)
	PRINT 'Professor Adicionado'
END
GO
