USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[UnsetAnoLetivo]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UnsetAnoLetivo]
    @AnoLetivoAnteriorID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AnoLetivoAnteriorAtivo BIT;

    ------------------------------------------------------------------
    -- 1. Check if AnoLetivo exists and get its active state
    ------------------------------------------------------------------
    SELECT 
        @AnoLetivoAnteriorAtivo = Ativo
    FROM AnoLetivo
    WHERE AnoLetivoID = @AnoLetivoAnteriorID;

    IF @AnoLetivoAnteriorAtivo IS NULL
    BEGIN
        PRINT 'Ano letivo anterior não existe.';
        RETURN;
    END

    ------------------------------------------------------------------
    -- 2. If already inactive, nothing to do
    ------------------------------------------------------------------
    IF @AnoLetivoAnteriorAtivo = 0
    BEGIN
        PRINT 'Ano letivo anterior já se encontra desativado.';
        RETURN;
    END

    ------------------------------------------------------------------
    -- 3. Check for students with grades not yet launched
    ------------------------------------------------------------------
    IF EXISTS (
        SELECT 1
        FROM AlunosdaTurma AT
        JOIN Turmas T
            ON T.TurmaID = AT.TurmaID
        WHERE T.AnoLetivoID = @AnoLetivoAnteriorID
          AND AT.NotaFinal IS NULL
    )
    BEGIN
        PRINT 'Ano letivo anterior não pode ser desativado: existem notas por lançar.';
        RETURN;
    END

    ------------------------------------------------------------------
    -- 4. Deactivate AnoLetivo
    ------------------------------------------------------------------
    UPDATE AnoLetivo
    SET Ativo = 0
    WHERE AnoLetivoID = @AnoLetivoAnteriorID;

    PRINT 'Ano letivo anterior desativado com sucesso.';
END;

GO
