USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[ObterNProfessoresMaisAntigos]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterNProfessoresMaisAntigos]
	-- Add the parameters for the stored procedure here
	@N INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP(@N) ProfessorID, FirstName, LastName, DATEDIFF(YEAR, DataContratacao, GETDATE()) AS Anos FROM Professores
	INNER JOIN Pessoas ON Pessoas.PessoaID = Professores.PessoaID
	WHERE Professores.Ativo = 1
	ORDER BY DataContratacao ASC

END
GO
