USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[TransferirAluno]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransferirAluno]
	-- Add the parameters for the stored procedure here
	@AlunoID BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Ativo BIT = NULL
	DECLARE @DataTransferencia DATETIME = NULL
	DECLARE @StrAlunoID NVARCHAR (MAX) = CAST(@AlunoID AS NVARCHAR (MAX))
	SELECT
    @Ativo = Alunos.Ativo,
    @DataTransferencia = Alunos.DataTransferencia
	FROM Alunos
	WHERE AlunoID = @AlunoID;
    -- Insert statements for procedure here
	IF @Ativo IS NULL
	BEGIN
		PRINT 'O Aluno com ID ' + @StrAlunoID + ' não foi encontrado.'
		RETURN
	END
	IF @Ativo = 0
	BEGIN
	PRINT  'O Aluno com ID ' + @StrAlunoID + ' já se encontra inativo desde ' + CAST(@DataTransferencia AS NVARCHAR(MAX))+'.'
	RETURN 
	END
	UPDATE Alunos
	SET DataTransferencia = GETDATE(), Ativo = 0
	WHERE AlunoID = @AlunoID;
	PRINT 'O Aluno com ID ' + @StrAlunoID + ' foi marcado transferido com sucesso.'
END
GO
