USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo]    Script Date: 05/02/2026 10:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetUpAnoLetivo] 
	-- Add the parameters for the stored procedure here
	@Year INT
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	  DECLARE 
        @AnoLetivoNovoID BIGINT,
        @AnoLetivoAnteriorID BIGINT;

	  -- Previous year
    SELECT TOP 1
        @AnoLetivoAnteriorID = AnoLetivoID
    FROM AnoLetivo
    ORDER BY DataInicio DESC;
  
	-- Check if year exists
    SELECT
        @AnoLetivoNovoID = AnoLetivoID
    FROM AnoLetivo
    WHERE YEAR(DataInicio) = @Year;

	 IF @AnoLetivoNovoID IS NOT NULL
    BEGIN
        PRINT 'Ano ' + CAST(@Year AS NVARCHAR(10)) + ' já existe!';
        RETURN;
    END
	 -- Create year
    INSERT INTO AnoLetivo (DataInicio, DataFim, Ativo)
    VALUES (
        DATEFROMPARTS(@Year, 1, 1),
        DATEFROMPARTS(@Year, 12, 31),
        1
    );

    SET @AnoLetivoNovoID = SCOPE_IDENTITY();

    PRINT 'Ano ' + CAST(@Year AS NVARCHAR(10)) + ' Criado!';

    -- Year 1 classes
    EXEC SetupAnoLetivo_Turmas @AnoLetivoNovoID;
    -- Aprovados 
	EXEC SetUpPassingStudents  @AnoLetivoAnteriorID = @AnoLetivoAnteriorID, @AnoLetivoNovoID = @AnoLetivoNovoID;
    -- Reprovados 
	EXEC dbo.SetUpFailedStudents @AnoLetivoAnteriorID = @AnoLetivoAnteriorID, @AnoLetivoNovoID = @AnoLetivoNovoID;
	-- Inativar se todas as notas estiverem lançadas
	EXEC UnsetAnoLetivo @AnoLetivoAnteriorID = @AnoLetivoAnteriorID
END
GO
