body {
    margin: 0;
}

.container{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.gridCellEmpty{
    background-color: grey;
    width: 10px;
    height: 10px;
}

.gridCellFood{
    background-color: green;
    width: 12px;
    height: 12px;
}

.gridCellHead{
    background-color: red;
    width: 12px;
    height: 12px;
}

.gridCellBody{
    background-color: lightcoral;
    width: 10px;
    height: 10px;
}


.center {
    margin-left: auto;
    margin-right: auto;
}