USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[InserirRelacao]    Script Date: 01/02/2026 15:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InserirRelacao]
	-- Add the parameters for the stored procedure here
	@PessoaA BIGINT,
	@PessoaB BIGINT,
	@TipoRelacao INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @PessoaA = @PessoaB
	BEGIN
		PRINT 'Uma pessoa não pode ter uma relação consigo própria.';
		RETURN
	END
	IF EXISTS (SELECT 1 FROM Relacoes 
	WHERE Tipo = @TipoRelacao AND (
            (PessoaAID = @PessoaA AND PessoaBID = @PessoaB)
         OR (PessoaAID = @PessoaB AND PessoaBID = @PessoaA))
		 )
	BEGIN
	PRINT 'As duas Pessoas selecionadas 
	(' + CAST(@PessoaA AS NVARCHAR(max)) + ' e ' + CAST(@PessoaB AS NVARCHAR(max)) +') já têm uma relacao deste tipo.'
	RETURN
	END

	DECLARE @Pa AS BIGINT = @PessoaA
	DECLARE @Pb AS BIGINT = @PessoaB
	IF (@PessoaA > @PessoaB)
	BEGIN
		SET @Pa = @PessoaB
		SET @Pb = @PessoaA
	END
	INSERT INTO Relacoes (PessoaAID, PessoaBID, Tipo) VALUES (@Pa, @Pb, @TipoRelacao)
	PRINT 'Relaçao adicionada com sucesso.'
END
