USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo]    Script Date: 30/01/2026 13:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SetUpAnoLetivo] 
	-- Add the parameters for the stored procedure here
	@Year INT,
	@AnoLetivoID BIGINT = NULL OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	SELECT @AnoLetivoID = AnoLetivoID
    FROM AnoLetivo
    WHERE YEAR(DataInicio) = @Year;

	IF (@AnoLetivoID IS NULL)
	BEGIN
	INSERT INTO AnoLetivo (DataInicio, DataFim, Ativo)
        VALUES (
            DATEFROMPARTS(@Year, 1, 1),
            DATEFROMPARTS(@Year, 12, 31),
            1
        );
		SET @AnoLetivoID = SCOPE_IDENTITY();
		PRINT 'Ano ' +  CAST(@Year AS NVARCHAR(10)) + ' Criado!'
	END
	ELSE
		PRINT 'Ano ' +  CAST(@Year AS NVARCHAR(10)) + ' já existe!'
END
