USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[UnsetAnoLetivo]    Script Date: 30/01/2026 13:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[UnsetAnoLetivo]
	-- Add the parameters for the stored procedure here
	@Year INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @AnoLetivoAnteriorID BIGINT = NULL
	DECLARE @AnoLetivoAnteriorAtivo BIT
	SELECT @AnoLetivoAnteriorID =  AnoLetivo.AnoLetivoID,
	@AnoLetivoAnteriorAtivo = AnoLetivo.Ativo	
	FROM AnoLetivo 
	WHERE YEAR(DataInicio) = (@Year - 1)
	BEGIN
	IF @AnoLetivoAnteriorID IS NOT NULL
	BEGIN
		IF @AnoLetivoAnteriorAtivo = 0
		BEGIN
			PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') já se encontra desativado.'
			END
		ELSE
		BEGIN
			-- TODO: Se o ano anterior tiver alunos com notas por lançar não desativa o ano
			UPDATE AnoLetivo SET Ativo = 0 
			WHERE AnoLetivoID = @AnoLetivoAnteriorID
			PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') desativado.'
			END
			END
	ELSE
	BEGIN
	 PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') não existe.'
	 END
	 END
END
