USE [UpSkill_EscolaDelite]
GO
/****** Object:  StoredProcedure [dbo].[VerificarContactos]    Script Date: 01/02/2026 15:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[VerificarContactos]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @cols NVARCHAR(MAX),
        @cases NVARCHAR(MAX),
		@where NVARCHAR(MAX),
        @sql NVARCHAR(MAX);

SELECT @cols = STRING_AGG(QUOTENAME(NomeDoContacto), ',')
FROM TiposdeContactos;

SELECT @cases = STRING_AGG(
    'CASE [' + NomeDoContacto + '] WHEN 1 THEN ''Valido'' WHEN 0 THEN ''Invalido'' END AS [' + NomeDoContacto + ']'
, ', ')
FROM TiposdeContactos;

SELECT @where = STRING_AGG(
    '[' + NomeDoContacto + '] = 0', 'AND ')
FROM TiposdeContactos;

SET @sql = N'
SELECT PessoaID, FirstName, LastName, ' + @cases + '
FROM (
    SELECT Pessoas.PessoaID, Pessoas.FirstName, Pessoas.LastName, TiposdeContactos.NomeDoContacto,
           dbo.ValidarContacto(Pessoas.PessoaID, TiposdeContactos.TipoID) AS EstadoValidacao
    FROM Pessoas
    CROSS JOIN TiposdeContactos
) tblSource
PIVOT (
    MAX(EstadoValidacao)
    FOR NomeDoContacto IN (' + @cols + ')
) tbPivot
WHERE ' + @where +'
ORDER BY PessoaID;
';

--PRINT @sql

EXEC sp_executesql @sql;
END
