USE [master]
GO
/****** Object:  Database [UpSkill_EscolaDelite]    Script Date: 02/02/2026 20:33:51 ******/
CREATE DATABASE [UpSkill_EscolaDelite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UpSkill_EscolaDelite', FILENAME = N'E:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpSkill_EscolaDelite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UpSkill_EscolaDelite_log', FILENAME = N'E:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UpSkill_EscolaDelite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UpSkill_EscolaDelite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UpSkill_EscolaDelite]
GO
/****** Object:  UserDefinedFunction [dbo].[ValidarContacto]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[ValidarContacto]
(
    @PessoaID INT,
    @Tipo INT
)
RETURNS INT
AS
BEGIN
    DECLARE @Resultado INT;

    -- Contact does not exist
    IF NOT EXISTS (
        SELECT 1
        FROM Contactos
        WHERE PessoaID = @PessoaID
          AND Tipo = @Tipo
    )
        RETURN 0;

    -- Telefone
    IF @Tipo = 1
    BEGIN
        SELECT @Resultado =
            CASE
                WHEN LEN(Valor) = 9
                 AND Valor NOT LIKE '%[^0-9]%'
                THEN 1
                ELSE 0
            END
        FROM Contactos
        WHERE PessoaID = @PessoaID
          AND Tipo = @Tipo;

        RETURN @Resultado;
    END

    -- Email
    IF @Tipo = 2
    BEGIN
        SELECT @Resultado =
            CASE
                WHEN Valor LIKE '%@%'
                THEN 1
                ELSE 0
            END
        FROM Contactos
        WHERE PessoaID = @PessoaID
          AND Tipo = @Tipo;

        RETURN @Resultado;
    END

    RETURN 0;
END
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[AlunoID] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaID] [bigint] NOT NULL,
	[DataRegisto] [datetime] NOT NULL,
	[DataTransferencia] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Alunos] PRIMARY KEY CLUSTERED 
(
	[AlunoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlunosdaTurma]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlunosdaTurma](
	[TurmaID] [bigint] NOT NULL,
	[AlunoID] [bigint] NOT NULL,
	[NotaFinal] [smallint] NULL,
	[DataAvaliacao] [datetime] NULL,
 CONSTRAINT [PK_AlunosdaTurma] PRIMARY KEY CLUSTERED 
(
	[TurmaID] ASC,
	[AlunoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnoLetivo]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnoLetivo](
	[AnoLetivoID] [bigint] IDENTITY(1,1) NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_AnoLetivo] PRIMARY KEY CLUSTERED 
(
	[AnoLetivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[PessoaID] [bigint] NOT NULL,
	[Tipo] [smallint] NOT NULL,
	[Valor] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Contactos_1] PRIMARY KEY CLUSTERED 
(
	[PessoaID] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[CursoID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Duracao] [smallint] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[CursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[PessoaID] [bigint] IDENTITY(1,1) NOT NULL,
	[NIF] [nchar](9) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[DOB] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[PessoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professores]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professores](
	[ProfessorID] [bigint] IDENTITY(1,1) NOT NULL,
	[PessoaID] [bigint] NOT NULL,
	[DataContratacao] [datetime] NOT NULL,
	[DataCessacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Professores] PRIMARY KEY CLUSTERED 
(
	[ProfessorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessoresdaTurma]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessoresdaTurma](
	[TurmaID] [bigint] NOT NULL,
	[ProfessorID] [bigint] NOT NULL,
 CONSTRAINT [PK_ProfessoresdaTurma] PRIMARY KEY CLUSTERED 
(
	[TurmaID] ASC,
	[ProfessorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relacoes]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relacoes](
	[PessoaAID] [bigint] NOT NULL,
	[PessoaBID] [bigint] NOT NULL,
	[Tipo] [smallint] NOT NULL,
 CONSTRAINT [PK_Relacoes] PRIMARY KEY CLUSTERED 
(
	[PessoaAID] ASC,
	[PessoaBID] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposdeContactos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposdeContactos](
	[TipoID] [smallint] NOT NULL,
	[NomeDoContacto] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposdeContactos] PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposRelacao]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposRelacao](
	[RelacaoID] [smallint] IDENTITY(1,1) NOT NULL,
	[RelacaoNome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoRelacao] PRIMARY KEY CLUSTERED 
(
	[RelacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turmas]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turmas](
	[TurmaID] [bigint] IDENTITY(1,1) NOT NULL,
	[AnoLetivoID] [bigint] NOT NULL,
	[CursoID] [bigint] NOT NULL,
	[AnoDoCurso] [smallint] NOT NULL,
 CONSTRAINT [PK_Turmas] PRIMARY KEY CLUSTERED 
(
	[TurmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alunos] ON 

INSERT [dbo].[Alunos] ([AlunoID], [PessoaID], [DataRegisto], [DataTransferencia], [Ativo]) VALUES (2, 4, CAST(N'2023-09-15T00:00:00.000' AS DateTime), CAST(N'2026-02-02T11:12:29.133' AS DateTime), 0)
INSERT [dbo].[Alunos] ([AlunoID], [PessoaID], [DataRegisto], [DataTransferencia], [Ativo]) VALUES (3, 5, CAST(N'2022-09-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Alunos] ([AlunoID], [PessoaID], [DataRegisto], [DataTransferencia], [Ativo]) VALUES (4, 6, CAST(N'2021-09-01T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Alunos] OFF
GO
INSERT [dbo].[AlunosdaTurma] ([TurmaID], [AlunoID], [NotaFinal], [DataAvaliacao]) VALUES (1, 2, 18, CAST(N'2001-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[AlunosdaTurma] ([TurmaID], [AlunoID], [NotaFinal], [DataAvaliacao]) VALUES (1, 3, 16, CAST(N'2001-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[AlunosdaTurma] ([TurmaID], [AlunoID], [NotaFinal], [DataAvaliacao]) VALUES (2, 4, 10, CAST(N'2001-01-01T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AnoLetivo] ON 

INSERT [dbo].[AnoLetivo] ([AnoLetivoID], [DataInicio], [DataFim], [Ativo]) VALUES (1, CAST(N'2000-01-01T00:00:00.000' AS DateTime), CAST(N'2000-12-31T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[AnoLetivo] ([AnoLetivoID], [DataInicio], [DataFim], [Ativo]) VALUES (2, CAST(N'2001-01-01T00:00:00.000' AS DateTime), CAST(N'2001-12-31T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[AnoLetivo] ([AnoLetivoID], [DataInicio], [DataFim], [Ativo]) VALUES (3, CAST(N'2002-01-01T00:00:00.000' AS DateTime), CAST(N'2002-12-31T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[AnoLetivo] OFF
GO
INSERT [dbo].[Contactos] ([PessoaID], [Tipo], [Valor], [Ativo]) VALUES (1, 1, N'912345678', 1)
INSERT [dbo].[Contactos] ([PessoaID], [Tipo], [Valor], [Ativo]) VALUES (1, 2, N'joao.silva@email.com', 1)
INSERT [dbo].[Contactos] ([PessoaID], [Tipo], [Valor], [Ativo]) VALUES (2, 1, N'91987654', 1)
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

INSERT [dbo].[Cursos] ([CursoID], [Nome], [Duracao], [Ativo]) VALUES (1, N'Programação em C', 3, 1)
INSERT [dbo].[Cursos] ([CursoID], [Nome], [Duracao], [Ativo]) VALUES (2, N'Programação em C++', 3, 1)
INSERT [dbo].[Cursos] ([CursoID], [Nome], [Duracao], [Ativo]) VALUES (3, N'Programação em Java', 3, 1)
SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pessoas] ON 

INSERT [dbo].[Pessoas] ([PessoaID], [NIF], [FirstName], [LastName], [MiddleName], [DOB], [LastUpdate]) VALUES (1, N'123456789', N'João', N'Silva', N'Miguel', CAST(N'1990-04-12T00:00:00.000' AS DateTime), CAST(N'2026-02-01T15:13:36.020' AS DateTime))
INSERT [dbo].[Pessoas] ([PessoaID], [NIF], [FirstName], [LastName], [MiddleName], [DOB], [LastUpdate]) VALUES (2, N'987654321', N'Ana', N'Costa', NULL, CAST(N'1982-09-30T00:00:00.000' AS DateTime), CAST(N'2026-02-01T15:13:36.020' AS DateTime))
INSERT [dbo].[Pessoas] ([PessoaID], [NIF], [FirstName], [LastName], [MiddleName], [DOB], [LastUpdate]) VALUES (3, N'456789123', N'Carlos', N'Silva', N'Eduardo', CAST(N'1970-01-15T00:00:00.000' AS DateTime), CAST(N'2026-02-01T15:13:36.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pessoas] OFF
GO
SET IDENTITY_INSERT [dbo].[Professores] ON 

INSERT [dbo].[Professores] ([ProfessorID], [PessoaID], [DataContratacao], [DataCessacao], [Ativo]) VALUES (1, 1, CAST(N'2018-09-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Professores] ([ProfessorID], [PessoaID], [DataContratacao], [DataCessacao], [Ativo]) VALUES (2, 2, CAST(N'2020-02-15T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Professores] ([ProfessorID], [PessoaID], [DataContratacao], [DataCessacao], [Ativo]) VALUES (3, 3, CAST(N'2015-06-10T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Professores] OFF
GO
INSERT [dbo].[Relacoes] ([PessoaAID], [PessoaBID], [Tipo]) VALUES (1, 4, 1)
INSERT [dbo].[Relacoes] ([PessoaAID], [PessoaBID], [Tipo]) VALUES (1, 6, 1)
INSERT [dbo].[Relacoes] ([PessoaAID], [PessoaBID], [Tipo]) VALUES (1, 32, 2)
GO
INSERT [dbo].[TiposdeContactos] ([TipoID], [NomeDoContacto]) VALUES (1, N'Telefone')
INSERT [dbo].[TiposdeContactos] ([TipoID], [NomeDoContacto]) VALUES (2, N'Email')
GO
SET IDENTITY_INSERT [dbo].[TiposRelacao] ON 

INSERT [dbo].[TiposRelacao] ([RelacaoID], [RelacaoNome]) VALUES (1, N'LinhaVertical 1º grau')
INSERT [dbo].[TiposRelacao] ([RelacaoID], [RelacaoNome]) VALUES (2, N'LinhaVertical 2º grau ou +')
INSERT [dbo].[TiposRelacao] ([RelacaoID], [RelacaoNome]) VALUES (3, N'LinhaHorizontal 1º grau')
SET IDENTITY_INSERT [dbo].[TiposRelacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Turmas] ON 

INSERT [dbo].[Turmas] ([TurmaID], [AnoLetivoID], [CursoID], [AnoDoCurso]) VALUES (1, 3, 1, 1)
INSERT [dbo].[Turmas] ([TurmaID], [AnoLetivoID], [CursoID], [AnoDoCurso]) VALUES (2, 3, 2, 1)
INSERT [dbo].[Turmas] ([TurmaID], [AnoLetivoID], [CursoID], [AnoDoCurso]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[Turmas] OFF
GO
/****** Object:  Index [Unique_DataInicio]    Script Date: 02/02/2026 20:33:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_DataInicio] ON [dbo].[AnoLetivo]
(
	[DataInicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Nome_Curso]    Script Date: 02/02/2026 20:33:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Nome_Curso] ON [dbo].[Cursos]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Pessoas_NIF]    Script Date: 02/02/2026 20:33:51 ******/
ALTER TABLE [dbo].[Pessoas] ADD  CONSTRAINT [Pessoas_NIF] UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Relacao_Nome]    Script Date: 02/02/2026 20:33:51 ******/
CREATE NONCLUSTERED INDEX [Relacao_Nome] ON [dbo].[TiposRelacao]
(
	[RelacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alunos]  WITH CHECK ADD  CONSTRAINT [FK_Alunos_Pessoas] FOREIGN KEY([PessoaID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Alunos] CHECK CONSTRAINT [FK_Alunos_Pessoas]
GO
ALTER TABLE [dbo].[AlunosdaTurma]  WITH CHECK ADD  CONSTRAINT [FK_AlunosdaTurma_Alunos1] FOREIGN KEY([AlunoID])
REFERENCES [dbo].[Alunos] ([AlunoID])
GO
ALTER TABLE [dbo].[AlunosdaTurma] CHECK CONSTRAINT [FK_AlunosdaTurma_Alunos1]
GO
ALTER TABLE [dbo].[AlunosdaTurma]  WITH CHECK ADD  CONSTRAINT [FK_AlunosdaTurma_Turmas] FOREIGN KEY([TurmaID])
REFERENCES [dbo].[Turmas] ([TurmaID])
GO
ALTER TABLE [dbo].[AlunosdaTurma] CHECK CONSTRAINT [FK_AlunosdaTurma_Turmas]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [FK_Contactos_Pessoas] FOREIGN KEY([PessoaID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [FK_Contactos_Pessoas]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [FK_Contactos_TiposdeContactos] FOREIGN KEY([Tipo])
REFERENCES [dbo].[TiposdeContactos] ([TipoID])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [FK_Contactos_TiposdeContactos]
GO
ALTER TABLE [dbo].[Professores]  WITH CHECK ADD  CONSTRAINT [FK_Professores_Pessoas] FOREIGN KEY([PessoaID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Professores] CHECK CONSTRAINT [FK_Professores_Pessoas]
GO
ALTER TABLE [dbo].[ProfessoresdaTurma]  WITH CHECK ADD  CONSTRAINT [FK_ProfessoresdaTurma_Professores] FOREIGN KEY([ProfessorID])
REFERENCES [dbo].[Professores] ([ProfessorID])
GO
ALTER TABLE [dbo].[ProfessoresdaTurma] CHECK CONSTRAINT [FK_ProfessoresdaTurma_Professores]
GO
ALTER TABLE [dbo].[ProfessoresdaTurma]  WITH CHECK ADD  CONSTRAINT [FK_ProfessoresdaTurma_Turmas] FOREIGN KEY([TurmaID])
REFERENCES [dbo].[Turmas] ([TurmaID])
GO
ALTER TABLE [dbo].[ProfessoresdaTurma] CHECK CONSTRAINT [FK_ProfessoresdaTurma_Turmas]
GO
ALTER TABLE [dbo].[Relacoes]  WITH CHECK ADD  CONSTRAINT [FK_Relacoes_Pessoas] FOREIGN KEY([PessoaAID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Relacoes] CHECK CONSTRAINT [FK_Relacoes_Pessoas]
GO
ALTER TABLE [dbo].[Relacoes]  WITH CHECK ADD  CONSTRAINT [FK_Relacoes_Pessoas1] FOREIGN KEY([PessoaBID])
REFERENCES [dbo].[Pessoas] ([PessoaID])
GO
ALTER TABLE [dbo].[Relacoes] CHECK CONSTRAINT [FK_Relacoes_Pessoas1]
GO
ALTER TABLE [dbo].[Relacoes]  WITH CHECK ADD  CONSTRAINT [FK_Relacoes_TiposRelacao] FOREIGN KEY([Tipo])
REFERENCES [dbo].[TiposRelacao] ([RelacaoID])
GO
ALTER TABLE [dbo].[Relacoes] CHECK CONSTRAINT [FK_Relacoes_TiposRelacao]
GO
ALTER TABLE [dbo].[Turmas]  WITH CHECK ADD  CONSTRAINT [FK_Turmas_AnoLetivo] FOREIGN KEY([AnoLetivoID])
REFERENCES [dbo].[AnoLetivo] ([AnoLetivoID])
GO
ALTER TABLE [dbo].[Turmas] CHECK CONSTRAINT [FK_Turmas_AnoLetivo]
GO
ALTER TABLE [dbo].[Turmas]  WITH CHECK ADD  CONSTRAINT [FK_Turmas_Cursos] FOREIGN KEY([CursoID])
REFERENCES [dbo].[Cursos] ([CursoID])
GO
ALTER TABLE [dbo].[Turmas] CHECK CONSTRAINT [FK_Turmas_Cursos]
GO
/****** Object:  StoredProcedure [dbo].[AddPessoa]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddPessoa] 
	-- Add the parameters for the stored procedure here
	@NIF NCHAR(9),
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@MiddleName NVARCHAR(100) = NULL,
	@DOB DATETIME,
	@PessoaID BIGINT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT @PessoaID = PessoaID
    FROM Pessoas
    WHERE NIF = @NIF;

	IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO Pessoas (
            NIF,
            FirstName,
            LastName,
            MiddleName,
            DOB,
            LastUpdate
        )
        VALUES (
            @NIF,
            @FirstName,
            @LastName,
            @MiddleName,
            @DOB,
            GETDATE()
        );
        
        SET @PessoaID = SCOPE_IDENTITY();
        PRINT 'Nova Pessoa Adicionada'
    END
    ELSE
    PRINT 'Pessoa já registada'
END
GO
/****** Object:  StoredProcedure [dbo].[AddProfessor]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Efetuar o registo de um novo professor
CREATE PROCEDURE [dbo].[AddProfessor]
	-- Add the parameters for the stored procedure here
	@NIF NCHAR(9),
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@MiddleName NVARCHAR(100),
	@DOB DATETIME
	--LastUpdate
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @PessoaID BIGINT
    -- Insert statements for procedure here
	EXEC dbo.AddPessoa
        @NIF = @NIF,
        @FirstName = @FirstName,
        @LastName = @LastName,
        @MiddleName = @MiddleName,
        @DOB = @DOB,
        @PessoaID = @PessoaID OUTPUT;
	 

	INSERT INTO Professores
	(
		PessoaID,
		DataContratacao,
		Ativo
	)
	VALUES
	(
	@PessoaID,
	GETDATE(),
	1
	)
	PRINT 'Professor Adicionado'
END
GO
/****** Object:  StoredProcedure [dbo].[AddStudent]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Efetuar o registo de um novo aluno
CREATE PROCEDURE [dbo].[AddStudent]
	-- Add the parameters for the stored procedure here
	@NIF NCHAR(9),
	@FirstName NVARCHAR(100),
	@LastName NVARCHAR(100),
	@MiddleName NVARCHAR(100) = NULL,
	@DOB DATETIME
	--LastUpdate
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @PessoaID BIGINT
    
	EXEC dbo.AddPessoa
        @NIF = @NIF,
        @FirstName = @FirstName,
        @LastName = @LastName,
        @MiddleName = @MiddleName,
        @DOB = @DOB,
        @PessoaID = @PessoaID OUTPUT; 

	INSERT INTO Alunos
	(
		PessoaID,
		DataRegisto,
		Ativo
	)
	VALUES
	(
	@PessoaID,
	GETDATE(),
	1
	)
	PRINT 'Estudante Adicionado'
END




GO
/****** Object:  StoredProcedure [dbo].[CessarFuncoesProfessor]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CessarFuncoesProfessor]
	-- Add the parameters for the stored procedure here
	@ProfessorID BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF ((SELECT Ativo FROM Professores WHERE ProfessorID = @ProfessorID) = 0)
	BEGIN
	PRINT 'O Professor com ID ' + CAST(@ProfessorID AS NVARCHAR (MAX)) + ' já se encontra inativo.'
	RETURN 
	END
	UPDATE Professores
	SET DataCessacao = GETDATE(), Ativo = 0
	WHERE ProfessorID = @ProfessorID
	PRINT 'O Professor com ID ' + CAST(@ProfessorID AS NVARCHAR (MAX)) + ' foi marcado inativo.'
END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraAlunos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraAlunos]
	-- Add the parameters for the stored procedure here
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM Alunos
	WHERE PessoaID IN (4, 5, 6, 10, 11, 14, 15, 16, 18, 21, 23, 25, 28))
	PRINT 'Amostra de Alunos já se encontra inserida. Nenhum Registo foi adicionado.'
	RETURN
    -- Insert statements for procedure here
	INSERT INTO Alunos (PessoaID, DataRegisto, Ativo)
VALUES
(4,  '2023-09-15', 1),  -- Mariana Pereira
(5,  '2022-09-01', 1),  -- Sofia Almeida
(6,  '2021-09-01', 1),  -- Pedro Rocha
(10, '2020-09-15', 1),  -- Tiago Sousa
(11, '2024-09-01', 1),  -- Beatriz Gomes
(14, '2021-09-15', 1),  -- Daniel Teixeira 
(15, '2019-09-01', 1),  -- Catarina Pinto
(16, '2018-09-01', 1),  -- Miguel Azevedo
(18, '2022-02-01', 1),  -- André Correia
(21, '2023-09-01', 1),  -- Leonor Cunha
(23, '2020-09-01', 1),  -- Sara Antunes
(25, '2024-09-01', 1),  -- Matilde Oliveira
(28, '2019-09-15', 1);  -- Gonçalo Serra 


END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraAlunosTurma]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CriarAmostraAlunosTurma]
AS
BEGIN
    SET NOCOUNT ON;

	IF EXISTS (SELECT 1 FROM AlunosdaTurma WHERE TurmaID BETWEEN 1 AND 10)
	BEGIN
	PRINT 'Amostra de Aluinos Por Turma já foi adicionada. Nenhum Registo foi adicionado.'
	RETURN 
	END
    INSERT INTO AlunosdaTurma (TurmaID, AlunoID)
	VALUES
	(1,2), (1,3), (2,4), (3,6), (3,7), (4,8), (5,10), (5,11), (6,12), (6,13), (7,14), (8,9), (9,5)
	


END;
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraAvaliacaoAlunosTurma]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraAvaliacaoAlunosTurma] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 UPDATE AlunosdaTurma
SET
    NotaFinal =
        CASE AlunoID
            WHEN 2 THEN 18
            WHEN 3 THEN 16
            WHEN 4 THEN 10
            WHEN 6 THEN 9
			WHEN 7 THEN 11
			WHEN 8 THEN 7
			WHEN 10 THEN 18
			WHEN 11 THEN 19
			WHEN 12 THEN 12
			WHEN 13 THEN 14
			WHEN 14 THEN 16
			WHEN 9 THEN 18
			WHEN 5 THEN 9
        END,
    DataAvaliacao = '2001-01-01'
WHERE NotaFinal IS NULL
  AND DataAvaliacao IS NULL
  AND AlunoID IN (2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 9, 5);

END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraContactos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraContactos]
	-- Add the parameters for the stored procedure here
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Contactos (PessoaID, Tipo, Valor, Ativo)
VALUES
-- Pessoa 1 – João Silva
(1, 1, '912345678', 1),
(1, 2, 'joao.silva@email.com', 1),

-- Pessoa 2 – Ana Costa
(2, 1, '91987654', 1),                -- ❌ less than 9 digits
(2, 2, 'ana.costaemail.com', 1),      -- ❌ missing @

-- Pessoa 3 – Carlos Silva
(3, 1, '91A456789', 1),               -- ❌ letters
(3, 2, 'carlos.silva@email.com', 1),

-- Pessoa 4 – Mariana Pereira
(4, 2, 'mariana.pereira@email.com', 1),

-- Pessoa 5 – Sofia Almeida
(5, 1, '934567890', 1),
(5, 2, 'sofia.almeidaemail.com', 0),  -- ❌ missing @, inactive

-- Pessoa 6 – Pedro Rocha
(6, 1, '965432109', 1),
(6, 2, 'pedro.rocha@email.com', 1),

-- Pessoa 7 – Inês Ferreira
(7, 2, 'ines.ferreira@email.com', 1),

-- Pessoa 8 – Rui Mendes
(8, 1, '91R345678', 1),               -- ❌ letters
(8, 2, 'rui.mendes@email.com', 1),

-- Pessoa 9 – Cláudia Lopes
(9, 1, '92345678', 0),                -- ❌ less than 9 digits
(9, 2, 'claudia.lopes@email.com', 1),

-- Pessoa 10 – Tiago Sousa
(10, 1, '936789012', 1),

-- Pessoa 11 – Beatriz Gomes
(11, 2, 'beatriz.gomesemail.com', 1), -- ❌ missing @

-- Pessoa 12 – Filipe Ribeiro
(12, 1, '919999999', 1),
(12, 2, 'filipe.ribeiro@email.com', 1),

-- Pessoa 13 – Helena Martins
(13, 1, '91HELENA9', 1),              -- ❌ letters
(13, 2, 'helena.martins@email.com', 1),

-- Pessoa 14 – Daniel Teixeira
(14, 1, '91234567', 1),               -- ❌ less than 9 digits

-- Pessoa 15 – Catarina Pinto
(15, 2, 'catarina.pinto@email.com', 1),

-- Pessoa 16 – Miguel Azevedo
(16, 1, '934561234', 1),
(16, 2, 'miguel.azevedo@email.com', 1),

-- Pessoa 17 – Patrícia Faria
(17, 2, 'patricia.fariaemail.com', 0), -- ❌ missing @, inactive

-- Pessoa 18 – André Correia
(18, 1, '91ANDRE12', 1),              -- ❌ letters

-- Pessoa 19 – Vera Barbosa
(19, 1, '912345678', 1),
(19, 2, 'vera.barbosa@email.com', 1),

-- Pessoa 20 – Bruno Neves
(20, 1, '96BRUNO99', 0),              -- ❌ letters, inactive
(20, 2, 'bruno.neves@email.com', 1),

-- Pessoa 21 – Leonor Cunha
(21, 2, 'leonor.cunha@email.com', 1),

-- Pessoa 22 – Ricardo Moreira
(22, 1, '919876543', 1),

-- Pessoa 23 – Sara Antunes
(23, 2, 'sara.antunesemail.com', 1),  -- ❌ missing @

-- Pessoa 24 – Nuno Carvalho
(24, 1, '91234', 1),                  -- ❌ too short

-- Pessoa 25 – Matilde Oliveira
(25, 2, 'matilde.oliveira@email.com', 1),

-- Pessoa 26 – Luís Batista
(26, 1, '934567890', 1),
(26, 2, 'luis.batista@email.com', 1),

-- Pessoa 27 – Marta Pacheco
(27, 2, 'marta.pachecoemail.com', 1), -- ❌ missing @

-- Pessoa 28 – Gonçalo Serra
(28, 1, '91GONCALO', 1),              -- ❌ letters

-- Pessoa 29 – Isabel Nogueira
(29, 1, '919123456', 1),
(29, 2, 'isabel.nogueira@email.com', 1);

END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraCursos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraCursos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	    -- Guard clause: sample data already present
    IF EXISTS (
        SELECT 1
        FROM Cursos
        WHERE Nome IN (
            'Programação em C',
            'Programação em C++',
            'Programação em Java',
            'Desenvolvimento Web',
            'Engenharia de Software',
            'Bases de Dados',
            'Redes de Computadores',
            'Sistemas Operativos',
            'Cibersegurança',
            'Inteligência Artificial'
        )
    )
    BEGIN
        PRINT 'Cursos de Amostra já existem. Nenhum será inserido.';
        RETURN;
    END;
    -- Insert statements for procedure here
	INSERT INTO Cursos (Nome,Duracao, Ativo)
	VALUES 
    ('Programação em C', 3, 1),
    ('Programação em C++', 3, 1),
    ('Programação em Java', 3, 1),
    ('Desenvolvimento Web', 2, 1),
    ('Engenharia de Software', 3, 1),
    ('Bases de Dados', 2, 1),
    ('Redes de Computadores', 2, 1),
    ('Sistemas Operativos', 2, 1),
    ('Cibersegurança', 3, 1),
    ('Inteligência Artificial', 3, 1);

END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraPessoas]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraPessoas]
AS
BEGIN
    SET NOCOUNT ON;
IF EXISTS (
    SELECT 1
    FROM Pessoas
    WHERE NIF IN (
 '123456789', '987654321', '456789123','321654987','159753486', '741852963', 
'852963741', '963852741', '369258147', '258147369','147258369', '789456123',
'654123789', '951753852', '852741963', '753159846', '159846753','486159753', 
'357159486', '951486357', '654987321', '789321654', '321789654', '963741852', 
'147369258', '258369147', '369147258', '852147963', '741963852', '963258741', 
'852147258', '741852147','369852741', '258741963', '147852369', '963147258'
)
)
BEGIN
PRINT 'A amostra de Pessoas já existe na base de dados. Nenhum registo adicionado'
RETURN;
END

    INSERT INTO Pessoas
    (NIF, FirstName, MiddleName, LastName, DOB, LastUpdate)
VALUES
('123456789', 'João', 'Miguel', 'Silva', '1990-04-12', GETDATE()),
('987654321', 'Ana', NULL, 'Costa', '1982-09-30', GETDATE()),
('456789123', 'Carlos', 'Eduardo', 'Silva', '1970-01-15', GETDATE()),
('321654987', 'Mariana', NULL, 'Pereira', '2015-06-20', GETDATE()),
('159753486', 'Sofia', 'Isabel', 'Almeida', '2008-02-03', GETDATE()),

('741852963', 'Pedro', 'Henrique', 'Rocha', '2012-11-18', GETDATE()),
('852963741', 'Inês', NULL, 'Ferreira', '1995-07-07', GETDATE()),
('963852741', 'Rui', 'Manuel', 'Mendes', '1988-01-25', GETDATE()),
('369258147', 'Cláudia', NULL, 'Lopes', '1979-05-14', GETDATE()),
('258147369', 'Tiago', 'André', 'Sousa', '2006-09-02', GETDATE()),

('147258369', 'Beatriz', NULL, 'Gomes', '2014-12-09', GETDATE()),
('789456123', 'Filipe', 'José', 'Ribeiro', '1985-03-19', GETDATE()),
('654123789', 'Helena', 'Maria', 'Martins', '1976-08-27', GETDATE()),
('951753852', 'Daniel', NULL, 'Teixeira', '2009-04-05', GETDATE()),
('852741963', 'Catarina', 'Sofia', 'Pinto', '1993-10-11', GETDATE()),

('753159846', 'Miguel', NULL, 'Azevedo', '2016-01-30', GETDATE()),
('159846753', 'Patrícia', 'Andreia', 'Faria', '1981-06-22', GETDATE()),
('486159753', 'André', NULL, 'Correia', '2004-02-14', GETDATE()),
('357159486', 'Vera', 'Lúcia', 'Barbosa', '1969-07-03', GETDATE()),
('951486357', 'Bruno', 'Alexandre', 'Neves', '1998-11-29', GETDATE()),

('654987321', 'Leonor', NULL, 'Cunha', '2013-05-17', GETDATE()),
('789321654', 'Ricardo', 'Paulo', 'Moreira', '1974-09-08', GETDATE()),
('321789654', 'Sara', 'Cristina', 'Antunes', '2007-12-01', GETDATE()),
('963741852', 'Nuno', NULL, 'Carvalho', '1986-04-26', GETDATE()),
('147369258', 'Matilde', NULL, 'Oliveira', '2018-08-15', GETDATE()),

('258369147', 'Luís', 'Fernando', 'Batista', '1965-02-10', GETDATE()),
('369147258', 'Marta', 'Rita', 'Pacheco', '1991-06-06', GETDATE()),
('852147963', 'Gonçalo', NULL, 'Serra', '2005-10-21', GETDATE()),
('741963852', 'Isabel', 'Teresa', 'Nogueira', '1972-01-04', GETDATE()),

('963258741', 'José', 'Manuel', 'Silva', '1965-03-10', GETDATE()),
('852147258', 'Maria', 'Helena', 'Costa', '1966-07-21', GETDATE()),
('741852147', 'Tiago', NULL, 'Silva', '2010-09-12', GETDATE()),
('369852741', 'Ana', 'Catarina', 'Silva', '2012-04-03', GETDATE()),
('258741963', 'Beatriz', NULL, 'Costa', '2008-05-18', GETDATE()),
('147852369', 'Pedro', NULL, 'Costa', '2014-06-20', GETDATE()),
('963147258', 'Laura', 'Sofia', 'Pereira', '2016-11-02', GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraProfessores]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraProfessores]
	-- Add the parameters for the stored procedure here
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (
	SELECT 1 FROM Professores WHERE PessoaID IN (
	1, 2, 3, 12, 13, 22)
	)
	PRINT 'A amostra de Professores já foi adicionada. Nenhum registo adicionado.'
INSERT INTO Professores (PessoaID, Ativo, DataContratacao)
VALUES
(1, 1, '2018-09-01'),   -- João Silva
(2, 1, '2020-02-15'),   -- Ana Costa
(3, 1, '2015-06-10'),   -- Carlos Silva
(12, 1, '2019-08-01'),  -- Filipe Ribeiro
(13, 1, '2017-03-20'),  -- Helena Martins
(22, 1, '2021-01-05');  -- Ricardo Moreira

END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraRelacoes]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraRelacoes]
	-- Add the parameters for the stored procedure here
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Relacoes (PessoaAID, PessoaBID, Tipo)
VALUES
-- João Silva (1) is father of Mariana Pereira (4) and Pedro Rocha (6)
(1, 4, 1),  -- LinhaVertical 1º grau
(1, 6, 1),

-- João Silva (1) is grandfather of Tiago Silva (32) and Ana Silva (33)
(1, 32, 2), -- LinhaVertical 2º grau ou +
(1, 33, 2),

-- Mariana Pereira (4) is mother of Laura Pereira (36)
(4, 36, 1),

-- Siblings example: Mariana Pereira (4) and Pedro Rocha (6)
(4, 6, 3),  -- LinhaHorizontal 1º grau


-- Cousins example: Tiago Silva (32) and Beatriz Costa (34)
(32, 34, 4), -- LinhaHorizontal 2º grau ou +


-- Vertical 1º grau: Filipe Ribeiro (12) is father of Tiago Sousa (10)
(12, 10, 1),

-- Horizontal 1º grau: siblings Sofia Almeida (5) and Pedro Rocha (6)
(5, 6, 3),


-- Vertical 2º grau ou +: grandparents of Sofia Almeida (5)
(30, 5, 2),
(31, 5, 2),

-- Horizontal 2º grau ou +: cousin
(33, 35, 4),


-- Parent-child for added people
(30, 1, 2),  -- José Manuel Silva is father of João Silva
(31, 2, 2),  -- Maria Helena Costa is mother of Ana Costa
(30, 32, 1), -- José Manuel Silva is father of Tiago Silva
(31, 34, 1), -- Maria Helena Costa is mother of Beatriz Costa

-- Sibling relationship for new people
(32, 33, 3),


-- Cousins: Pedro Costa (35) and Tiago Silva (32)
(32, 35, 4)



END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraTiposContactos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraTiposContactos]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM TiposdeContactos
	WHERE NomeDoContacto IN ('Telefone', 'Email'))
	PRINT 'As amostras de tipo de contactos já foram adicionadas'
	RETURN
	INSERT INTO TiposdeContactos 
	(NomeDoContacto)
	VALUES
	
	('Telefone'),
	('Email')
	
    -- Insert statements for procedure here

END
GO
/****** Object:  StoredProcedure [dbo].[CriarAmostraTiposRelacoes]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarAmostraTiposRelacoes]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM TiposRelacao
	WHERE TiposRelacao.RelacaoID IN (1, 2, 3, 4))
	PRINT 'As relacoes de Amostra já se econtram na base de dados. Nenhum Registo adicionado.'
	RETURN 
    -- Insert statements for procedure here
	INSERT INTO TiposRelacao (RelacaoID, RelacaoNome)
	VALUES
	(1, 'LinhaVertical 1º grau'),
	(2, 'LinhaVertical 2º grau ou +'),
	(3, 'LinhaHorizontal 1º grau'),
	(4, 'LinhaHorizontal 2º grau ou +')
END
GO
/****** Object:  StoredProcedure [dbo].[CriarTodasAmostras]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CriarTodasAmostras]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE	@AnoLetivoID bigint

	EXEC CriarAmostraPessoas
	EXEC CriarAmostraAlunos
	EXEC CriarAmostraProfessores
	EXEC CriarAmostraTiposContactos
	EXEC CriarAmostraContactos
	EXEC CriarAmostraTiposRelacoes
	EXEC CriarAmostraRelacoes
	EXEC CriarAmostraCursos
	EXEC SetUpAnoLetivo @Year = 2000, @AnoLetivoID = @AnoLetivoID OUTPUT
	EXEC CriarAmostraAlunosTurma
	EXEC CriarAmostraAvaliacaoAlunosTurma
    
END
GO
/****** Object:  StoredProcedure [dbo].[InserirRelacao]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InserirRelacao]
	-- Add the parameters for the stored procedure here
	@PessoaA BIGINT,
	@PessoaB BIGINT,
	@TipoRelacao INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @PessoaA = @PessoaB
	BEGIN
		PRINT 'Uma pessoa não pode ter uma relação consigo própria.';
		RETURN
	END
	IF EXISTS (SELECT 1 FROM Relacoes 
	WHERE Tipo = @TipoRelacao AND (
            (PessoaAID = @PessoaA AND PessoaBID = @PessoaB)
         OR (PessoaAID = @PessoaB AND PessoaBID = @PessoaA))
		 )
	BEGIN
	PRINT 'As duas Pessoas selecionadas 
	(' + CAST(@PessoaA AS NVARCHAR(max)) + ' e ' + CAST(@PessoaB AS NVARCHAR(max)) +') já têm uma relacao deste tipo.'
	RETURN
	END

	DECLARE @Pa AS BIGINT = @PessoaA
	DECLARE @Pb AS BIGINT = @PessoaB
	IF (@PessoaA > @PessoaB)
	BEGIN
		SET @Pa = @PessoaB
		SET @Pb = @PessoaA
	END
	INSERT INTO Relacoes (PessoaAID, PessoaBID, Tipo) VALUES (@Pa, @Pb, @TipoRelacao)
	PRINT 'Relaçao adicionada com sucesso.'
END
GO
/****** Object:  StoredProcedure [dbo].[ObterAlunosPorAnoECurso]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterAlunosPorAnoECurso]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	YEAR(AnoLetivo.DataInicio) AS Ano, Cursos.Nome, Count(*) AS [Numero de Alunos]
	FROM AnoLetivo
	INNER JOIN Turmas ON Turmas.AnoLetivoID = AnoLetivo.AnoLetivoID
	INNER JOIN Cursos ON Turmas.CursoID = Cursos.CursoID
	INNER JOIN AlunosdaTurma ON Turmas.TurmaID = AlunosdaTurma.TurmaID
	
	GROUP BY  AnoLetivo.AnoLetivoID, AnoLetivo.DataInicio, Cursos.Nome
	ORDER BY AnoLetivo.AnoLetivoID
END
GO
/****** Object:  StoredProcedure [dbo].[ObterAprovacoesReprovacoes]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterAprovacoesReprovacoes]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	Year(AnoLetivo.DataInicio) AS Ano,
	SUM(CASE WHEN NotaFinal >= 10 THEN 1 ELSE 0 END) AS Aprovados,
	SUM(CASE WHEN NotaFinal < 10 THEN 1 ELSE 0 END) AS Reprovados
	FROM AlunosdaTurma
	INNER JOIN Turmas ON AlunosdaTurma.TurmaID = Turmas.TurmaID
	INNER JOIN AnoLetivo ON AnoLetivo.AnoLetivoID = Turmas.AnoLetivoID
	GROUP BY Year(AnoLetivo.DataInicio)
END
GO
/****** Object:  StoredProcedure [dbo].[ObterListIrmaos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObterListIrmaos]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT Pessoas.PessoaID, Relacoes.PessoaBID AS [ID Irmão],  Alunos.AlunoID, FirstName, LastName FROM Relacoes
INNER JOIN Alunos ON Alunos.PessoaID = Relacoes.PessoaAID OR  Alunos.PessoaID = Relacoes.PessoaBID
LEFT JOIN Pessoas ON Alunos.PessoaID = Pessoas.PessoaID
WHERE Relacoes.Tipo = 3
END
GO
/****** Object:  StoredProcedure [dbo].[ObterNProfessoresMaisAntigos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterNProfessoresMaisAntigos]
	-- Add the parameters for the stored procedure here
	@N INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP(@N) ProfessorID, FirstName, LastName, DATEDIFF(YEAR, DataContratacao, GETDATE()) AS Anos FROM Professores
	INNER JOIN Pessoas ON Pessoas.PessoaID = Professores.PessoaID
	WHERE Professores.Ativo = 1
	ORDER BY DataContratacao ASC

END
GO
/****** Object:  StoredProcedure [dbo].[ObterQuadrodeHonra]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObterQuadrodeHonra]
	-- Add the parameters for the stored procedure here
	@Year INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Alunos.AlunoID, Pessoas.FirstName, Pessoas.LastName, AlunosdaTurma.NotaFinal
	FROM AlunosdaTurma
	INNER JOIN Turmas		ON Turmas.TurmaID = AlunosdaTurma.TurmaID
	INNER JOIN AnoLetivo	ON AnoLetivo.AnoLetivoID = Turmas.AnoLetivoID
	INNER JOIN Alunos		ON Alunos.AlunoID = AlunosdaTurma.AlunoID
	INNER JOIN Pessoas		ON Alunos.PessoaID = Pessoas.PessoaID
	WHERE YEAR(AnoLetivo.DataInicio) = @Year 
	AND AlunosdaTurma.NotaFinal >= 18;
END
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetUpAnoLetivo] 
	-- Add the parameters for the stored procedure here
	@Year INT
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	  DECLARE 
        @AnoLetivoNovoID BIGINT,
        @AnoLetivoAnteriorID BIGINT;

	  -- Previous year
    SELECT TOP 1
        @AnoLetivoAnteriorID = AnoLetivoID
    FROM AnoLetivo
    ORDER BY DataInicio DESC;
  
	-- Check if year exists
    SELECT
        @AnoLetivoNovoID = AnoLetivoID
    FROM AnoLetivo
    WHERE YEAR(DataInicio) = @Year;

	 IF @AnoLetivoNovoID IS NOT NULL
    BEGIN
        PRINT 'Ano ' + CAST(@Year AS NVARCHAR(10)) + ' já existe!';
        RETURN;
    END
	 -- Create year
    INSERT INTO AnoLetivo (DataInicio, DataFim, Ativo)
    VALUES (
        DATEFROMPARTS(@Year, 1, 1),
        DATEFROMPARTS(@Year, 12, 31),
        1
    );

    SET @AnoLetivoNovoID = SCOPE_IDENTITY();

    PRINT 'Ano ' + CAST(@Year AS NVARCHAR(10)) + ' Criado!';

    -- Year 1 classes
    EXEC SetupAnoLetivo_Turmas @AnoLetivoNovoID;

    -- Aprovados - Passar todos os alunos aprovados para uma Turma com ano do curso + 1
    -- Reprovados - Passar todoso os alunos reprovados para uma Turma com ano do curso = 
END
GO
/****** Object:  StoredProcedure [dbo].[SetUpAnoLetivo_Turmas]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetUpAnoLetivo_Turmas]
    @AnoLetivoID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM AnoLetivo
        WHERE AnoLetivoID = @AnoLetivoID
    )
    BEGIN
        PRINT 'Ano Letivo com ID: ' + CAST (@AnoLetivoID AS NVARCHAR(MAX)) + 'não encontrado.'
        RETURN;
    END;

    INSERT INTO Turmas (AnoLetivoID, CursoID, AnoDoCurso)
    SELECT
        @AnoLetivoID,
        c.CursoID,
        1 AS AnoDoCurso
    FROM Cursos c
    WHERE c.Ativo = 1
      AND NOT EXISTS (
          SELECT 1
          FROM Turmas t
          WHERE t.AnoLetivoID = @AnoLetivoID
            AND t.CursoID = c.CursoID
            AND t.AnoDoCurso = 1
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[TransferirAluno]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TransferirAluno]
	-- Add the parameters for the stored procedure here
	@AlunoID BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Ativo BIT = NULL
	DECLARE @DataTransferencia DATETIME = NULL
	DECLARE @StrAlunoID NVARCHAR (MAX) = CAST(@AlunoID AS NVARCHAR (MAX))
	SELECT
    @Ativo = Alunos.Ativo,
    @DataTransferencia = Alunos.DataTransferencia
	FROM Alunos
	WHERE AlunoID = @AlunoID;
    -- Insert statements for procedure here
	IF @Ativo IS NULL
	BEGIN
		PRINT 'O Aluno com ID ' + @StrAlunoID + ' não foi encontrado.'
		RETURN
	END
	IF @Ativo = 0
	BEGIN
	PRINT  'O Aluno com ID ' + @StrAlunoID + ' já se encontra inativo desde ' + CAST(@DataTransferencia AS NVARCHAR(MAX))+'.'
	RETURN 
	END
	UPDATE Alunos
	SET DataTransferencia = GETDATE(), Ativo = 0
	WHERE AlunoID = @AlunoID;
	PRINT 'O Aluno com ID ' + @StrAlunoID + ' foi marcado transferido com sucesso.'
END
GO
/****** Object:  StoredProcedure [dbo].[UnsetAnoLetivo]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UnsetAnoLetivo]
	-- Add the parameters for the stored procedure here
	@Year INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @AnoLetivoAnteriorID BIGINT = NULL
	DECLARE @AnoLetivoAnteriorAtivo BIT
	SELECT @AnoLetivoAnteriorID =  AnoLetivo.AnoLetivoID,
	@AnoLetivoAnteriorAtivo = AnoLetivo.Ativo	
	FROM AnoLetivo 
	WHERE YEAR(DataInicio) = (@Year - 1)
	BEGIN
	IF @AnoLetivoAnteriorID IS NOT NULL
	BEGIN
		IF @AnoLetivoAnteriorAtivo = 0
		BEGIN
			PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') já se encontra desativado.'
			END
		ELSE
		BEGIN
			-- TODO: Se o ano anterior tiver alunos com notas por lançar não desativa o ano
			UPDATE AnoLetivo SET Ativo = 0 
			WHERE AnoLetivoID = @AnoLetivoAnteriorID
			PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') desativado.'
			END
			END
	ELSE
	BEGIN
	 PRINT 'Ano anterior (' + CAST((@Year - 1) AS NVARCHAR(10)) + ') não existe.'
	 END
	 END
END
GO
/****** Object:  StoredProcedure [dbo].[VerificarContactos]    Script Date: 02/02/2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VerificarContactos]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @cols NVARCHAR(MAX),
        @cases NVARCHAR(MAX),
		@where NVARCHAR(MAX),
        @sql NVARCHAR(MAX);

SELECT @cols = STRING_AGG(QUOTENAME(NomeDoContacto), ',')
FROM TiposdeContactos;

SELECT @cases = STRING_AGG(
    'CASE [' + NomeDoContacto + '] WHEN 1 THEN ''Valido'' WHEN 0 THEN ''Invalido'' END AS [' + NomeDoContacto + ']'
, ', ')
FROM TiposdeContactos;

SELECT @where = STRING_AGG(
    '[' + NomeDoContacto + '] = 0', 'AND ')
FROM TiposdeContactos;

SET @sql = N'
SELECT PessoaID, FirstName, LastName, ' + @cases + '
FROM (
    SELECT Pessoas.PessoaID, Pessoas.FirstName, Pessoas.LastName, TiposdeContactos.NomeDoContacto,
           dbo.ValidarContacto(Pessoas.PessoaID, TiposdeContactos.TipoID) AS EstadoValidacao
    FROM Pessoas
    CROSS JOIN TiposdeContactos
) tblSource
PIVOT (
    MAX(EstadoValidacao)
    FOR NomeDoContacto IN (' + @cols + ')
) tbPivot
WHERE ' + @where +'
ORDER BY PessoaID;
';

--PRINT @sql

EXEC sp_executesql @sql;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Garante que a Data de Inicio é unica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AnoLetivo', @level2type=N'INDEX',@level2name=N'Unique_DataInicio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Assegura que não existem cursos com o mesmo nome.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cursos', @level2type=N'INDEX',@level2name=N'Nome_Curso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Assegura que o nome de relação é unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TiposRelacao', @level2type=N'INDEX',@level2name=N'Relacao_Nome'
GO
USE [master]
GO
